<%= form_for(@kiss_result) do |f| %>
  <% if @kiss_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kiss_result.errors.count, "error") %> prohibited this kiss_result from being saved:</h2>

      <ul>
      <% @kiss_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :output %><br>
    <%= f.text_area :output %>
  </div>
  <div class="field">
    <%= f.label :error %><br>
    <%= f.text_area :error %>
  </div>
  <div class="field">
    <%= f.label :kiss_task_id %><br>
    <%= f.text_field :kiss_task_id %>
  </div>
  <div class="field">
    <%= f.label :server_id %><br>
    <%= f.text_field :server_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
