<!DOCTYPE html>
<html>
<head>
  <title>Saryeong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>

<%= yield %>

<% else %>
  <div id="hcu-dialog-login" class="hc-dialog">
    <div class="hc-dialog-title">Login</div>
    <div class="hc-dialog-body">
      <span>Signin with</span>
      <%= link_to "SiOS", '/saryeong/auth/siso' %>
    </div>
  </div>
<% end %>

</body>
</html>
<!-- vim: set ts=2 sw=2 expandtab: -->
